@import url("./fonts.css");
@import url("./all.min.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1264px;
  padding: 0 16px;
  margin: 0 auto;
}

input {
  border: none;
}

.block-one__background {
  background-image: url("../images/castelmezzano.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.block-one__header {
  padding-top: 51px;
  padding-bottom: 202px;
  display: flex;
  justify-content: space-between;
}

.block-one__header--left--svg {
  width: 205px;
  height: 40px;
}

.block-one__header--right {
  display: flex;
}

.block-one__header--right--href {
  margin-right: 24px;
  font-size: 24px;
  line-height: 28px;
  justify-content: space-around;
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

.block-one__header--right--href:hover::after {
  display: block;
  content: "";
  height: 2px;
  width: 91%;
  background-color: #f5bd41;
  position: absolute;
  left: 9%;
  margin-top: 12px;
}

.block-one__header--right--logotip {
  margin-left: 24px;
  justify-content: space-around;
  gap: 24px;
}

.block-one__header--right--logotip--night {
  width: 30px;
  height: 30px;
  margin-right: 24px;
}

.block-one__header--right--logotip--account {
  width: 40px;
  height: 40px;
}

.block-one__page {
  padding-bottom: 120px;
}

.block-one__page--header {
  color: #ffffff;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 100px;
}

.block-one__page--underform {
  padding-left: 24px;
  display: flex;
  gap: 221px;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 24px;
}

.block-one__page--form {
  max-width: 1223px;
  display: flex;
  margin-right: 9px;
  margin-bottom: 120px;
  background: #ffffff;
  border: 3px solid #f3f3f4;
  border-right: #3077c6;
  border-radius: 8px;
}

.block-one__page--form--filters {
  display: flex;
}

.block-one__page--input--city {
  width: 467px;
  font-weight: 400;
  font-size: 18px;
  color: #383838;
  padding-left: 24px;
}

.block-one__page--input--data {
  width: 259px;
  font-weight: 400;
  font-size: 18px;
  color: #383838;
  text-align: center;
  border: 3px solid #f5bd41;
  border-radius: 8px;
}

.block-one__page--input--nomer {
  width: 305px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}

.block-one__page--form--button {
  width: 192px;
  height: 64px;
  color: #ffffff;
  border: 6px solid #3077c6;
  border-radius: 8px;
  background-color: #3077c6;
  font-weight: 500;
  font-size: 24px;
}

.block-one__page--apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
}

.block-one__page--apps--googleplay {
  width: 135px;
  height: 40px;
}

.block-one__page--apps--appstore {
  width: 118px;
  height: 40px;
}







/*for Block 2 */
.block-two {
  display: grid;
  grid-template: auto / repeat(4, 296px);
  margin: 120px 0;
  column-gap: 16px;
}

.block-two__header {
  grid-column: 2 / span 2;
  grid-row: 1 / 2;
  justify-self: center;
  padding-bottom: 100px;
}

.block-two__header_a {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  line-height: 47px;
  font-size: 40px;
  color: #383838;
  position: relative;
}

.block-two__header_a:hover::after {
  display: block;
  content: "";
  height: 4px;
  width: 100px;
  background-color: #f5bd41;
  position: absolute;
  right: 33%;
  margin-top: 20px;
}

.block-two__img {
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  justify-self: center;
}

.block-two__caption {
  font-weight: 400;
  font-size: 24px;
  color: #383838;
  padding-top: 48px;
  justify-self: center;
  padding-bottom: 2px;
}

.block-two__img--support {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.block-two__caption--support {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.block-two__img--communicate {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.block-two__caption--communicate {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.block-two__img--book-online {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.block-two__caption--book-online {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.block-two__img--reviews {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.block-two__caption--reviews {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
}

.block-six {
  background-color: #10367c;
}

.block-six__header {
  display: none;
}

.block-six__flex {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: -16px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.block-six__flex--colons {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
}

.block-six__flex--colons--colon {
  width: 33.3333%;
}

.block-six__flex--colons--colon--text {
  font-size: 20px;
  font-weight: 400;
  line-height: 47px;
}

.block-six__flex--colons--colon--text--header {
  font-weight: 500;
  font-size: 20px;
  line-height: 47px;
}

.block-six__flex--colontitul-text {
  font-size: 14px;
}