@import url("./fonts.css");
@import url("./all.min.css");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.trip__background {
  background-image: url("../images/castelmezzano-1979546 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.trip__contanier {
  max-width: 1264px;
  padding: 0 16px;
  margin: 0 auto;
}

.trip__header {
  padding-top: 51px;
  padding-bottom: 202px;
  display: flex;
  justify-content: space-between;
}

.trip-header__right {
  display: flex;
  flex-direction: column;
}

.right__under {
  display: flex;
}

.under__href {
  margin-right: 24px;
  font-size: 24px;
  line-height: 28px;
  justify-content: space-around;
  color: #ffffff;
  text-decoration: none;
}

.under__logotip {
  margin-left: 24px;
  justify-content: space-around;
  gap: 24px;
}

.under-logotip__night {
  width: 30px;
  height: 30px;
  margin-right: 24px;
}

.under-logotip__account {
  width: 40px;
  height: 40px;
}

.under__line {
  width: 50px;
  background-color: #f5bd41;
  border: 2px solid #f5bd41;
}

.trip__page {
  padding-bottom: 120px;
}

.trip-page__header {
  color: #ffffff;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 100px;
}

.trip-page__underform {
  padding-left: 24px;
  display: flex;
  gap: 221px;
  color: #ffffff;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 24px;
}

.trip-page__form {
  display: flex;
  margin-right: 9px;
  margin-bottom: 120px;
  background: #FFFFFF;
  border: 3px solid #F3F3F4;
  border-right: #3077c6;
  border-radius: 8px;
}

.border-form__grey {
  display: flex;

}

.page-form__city {
  width: 467px;
}

.page-form__data {
  width: 259px;
  border: 3px solid #F5BD41;
  border-radius: 8px;
}

.page-form__nomer {
  width: 305px;
}

.page-form__button {
  width: 192px;
  height: 64px;
  color: #ffffff;
  border: 6px solid #3077c6;
  border-radius: 8px;
  background-color: #3077c6;
}

.trip-page__apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 18px;
}

.trip-page__apps__googleplay {
  width: 135px;
  height: 40px;
}

.trip-page__apps__appstore {
  width: 118px;
  height: 40px;
}

.container {
  max-width: 1264px;
  padding: 0 16px;
  margin: 0 auto;
}

.quality {
  padding-top: 120px;
  padding-bottom: 120px;
}

.quality-header {
  display: flex;
  flex-direction: column;
}

.quality-header__text {
  color: #383838;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}

.quality-header__line {
  background-color: #f5bd41;
  border: 2px solid #f5bd41;
  width: 100px;
  height: 1px;
  align-self: center;
  margin-bottom: 80px;
}

.quality-name {
  display: flex;
  flex-wrap: wrap;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.quality-name__col {
  text-align: center;
}

.quality-name__svg {
  max-width: 100px;
  /* width: 100%;
  aspect-ratio: 1/1;*/
  margin: 0 auto 48px;
}

.quality-name__text {
  font-weight: 400;
  line-height: 28px;
  font-size: 24px;
  color: #383838;
}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .quality {
    padding-top: 0;
    padding-bottom: 40px;
  }

  .quality-header__text {
    font-size: 28px;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .quality-header__line {
    display: none;
  }

  .quality-name__col {
    margin-top: 32px;
  }

  .quality-name__svg {
    margin: 0 auto 16px;
    width: 70px;
  }

  .quality-name__text {
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
  }
}

.footer {
  background-color: #10367c;
}

.footer__container {
  max-width: 1264px;
  padding: 0 16px;
  margin: 0 auto;
}

.footer__header {
  display: none;
}

.footer__flex {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: -16px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

.footer__flex-colons {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
}

.footer__colon {
  width: 33.3333%;
}

/* For desktop: */
.footer__colon-1 {
  width: 8.33%;
}

.footer__colon-2 {
  width: 16.66%;
}

.footer__colon-3 {
  width: 25%;
}

.footer__colon-4 {
  width: 33.33%;
}

.footer__colon-5 {
  width: 41.66%;
}

.footer__colon-6 {
  width: 50%;
}

.footer__colon-7 {
  width: 58.33%;
}

.footer__colon-8 {
  width: 66.66%;
}

.footer__colon-9 {
  width: 75%;
}

.footer__colon-10 {
  width: 83.33%;
}

.footer__colon-11 {
  width: 91.66%;
}
.footer__colon-12 {
  width: 100%;
}

.footer-colon__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 47px;
}

.footer-colon__text__header {
  font-weight: 500;
  font-size: 20px;
  line-height: 47px;
}

.footer__colontitul {
  font-size: 14px;
}

@media only screen and (max-width: 360px) {
  /* For mobile phones: */
  .footer__container {
    padding-top: 40px;
  }

  .footer__header {
    display: block;
    margin: 0 auto;
    text-align: center;
  }

  .footer__flex {
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0 auto;
    text-align: center;
  }

  .footer__flex-colons {
    margin-bottom: 32px;
  }

  .footer-colon__text {
    font-size: 10px;
    line-height: 11px;
    display: none;
  }

  .footer-colon__text__header {
    font-size: 15px;
    text-decoration: underline;
  }

  .footer__colontitul {
    font-size: 12px;
  }
}
